@tailwind base;
@tailwind components;
@tailwind utilities;

.drop-down-form {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out, margin-top 0.5s ease-out,
    opacity 0.5s ease-out;
  margin-top: 0;
  opacity: 0;
}

.drop-down-form.open {
  max-height: 1000px; /* Arbitrary large value to allow the full form to expand */
  margin-top: 1rem;
  opacity: 1;
}

input {
  background: transparent;
  border: none;
}
